#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /** */
  --dark: #134776;
  --light: skyblue;
  /** */
  display: grid;
  grid-template-columns: 12rem auto;
}

.bucket div {
  margin: 5px;
  background-color: var(--dark);
  color: var(--light);
  padding: 1em;
  border-radius: 5px;
}